.page-padding {
  padding-left: 24px;
  padding-right: 24px;
  background-color: black;
  overflow: hidden;
}

.medC{
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 880px) {
  .medC{
    flex-direction: column;
  }

  .boxLeft {
    flex: 0 0 auto;
    width: 100% !important;
  }

  .boxRight {
    flex: 0 0 auto;
    width: 100% !important;
  }
}

.boxLeft {
  position: relative !important;
  margin-top: 14px;


}

.Left {
  position: relative !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxRight {
  position: relative !important;
  margin-top: 14px;
  width: 60%;
}

.quo {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
  column-gap: 50px;
  text-align: center;
}
@media only screen and (max-width: 380px) {
.quo{
  grid-template-columns: auto;

}
.quatro-item:nth-child(2n) {
  margin-top: px;
}
}
.quatro-item:nth-child(2n) {
  margin-top: 80px;
}

